.app {
  height: 100%;
}

.callPathContainer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: row;
  height: calc(100vh);
}

.exception {
  background: rgb(233, 233, 233);
}

.exceptionHeader {
  font-size: 17px;
  font-weight: bold;
  padding-left: 15px;
}

.issuesHeader {
  font-size: 17px;
  font-weight: bold;
  padding-left: 30px;
  padding-bottom: 15px;
}

.issues {
  width: 30px;
  padding-top: 40px;
  border-right: 1px solid #ddd;
}

.callPath {
  height: 100%;
  overflow: auto;
  flex: 7;
  background: white;
  border-right: 1px solid #ddd;
}

.landingPage {
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(233, 233, 233);
  margin: 75px 50px;
  padding: 10px 20px;
}

.landingPageList li {
  margin-top: 20px;
}

.sourceCodeContainer {
  flex: 20;
  margin-top: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.rawLogContainer {
  flex: 8;
  background: rgb(233, 233, 233);
}

.graphContainer {
  flex: 20;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sourceCodeHeaderWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 35px;
  margin-left: 5px
}

.gridIcon {
  height: 28px;
  width: auto;
  align-self: center;
  margin-left: 12px;
  opacity: 0.45;
}

.gridIcon--selected {
  height: 28px;
  width: auto;
  align-self: center;
  margin-left: 12px;
  opacity: 1;
}

.gridIcon:hover {
  cursor: pointer;
  opacity: 1;
}

.tabIcon {
  height: 30px;
  width: auto;
  align-self: center;
  margin-left: 8px;
  opacity: 0.45;
}

.tabIcon--selected {
  height: 30px;
  width: auto;
  align-self: center;
  margin-left: 8px;
  opacity: 1;
}

.tabIcon:hover {
  cursor: pointer;
  opacity: 1;
}

.graphIcon--selected {
  height: 25px;
  width: auto;
  align-self: center;
  margin-left: 8px;
  opacity: 1;
  transform: rotate(-90deg);
}

.graphIcon--landingPage {
  width: 20px;
  transform: rotate(-90deg);
  margin-right: 10px;
  margin-top: -3px;
  opacity: 1;
}

.graphIcon:hover {
  cursor: pointer;
  opacity: 1;
}


