.header {
  background: rgb(169, 175, 180);
  color: white;
  position: fixed;
  width: 100%;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid rgb(169, 175, 180);
  box-shadow: 0 2px 3px rgb(116, 121, 124); 
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.exceptionHeader {
  font-size: larger;
  font-weight: bold;
  padding-left: 20px;
}

.issuesHeader {
  font-size: larger;
  font-weight: bold;
  padding-left: 30px;
  padding-bottom: 20px;
}

.sourceCodeHeader {
  font-size: larger;
  font-weight: bold;
  padding-left: 20px;
}

.issues {
  flex: 4;
  padding-top: 40px;
  border-right: 1px solid #ddd;
  /* box-shadow: 2px 0 3px rgb(161, 161, 161); */
}

.callPath {
  height: 100%;
  padding-top: 40px;
  overflow: auto;
  flex: 11;
  background: white;
  border-right: 1px solid #ddd;
  /* box-shadow: 2px 0 3px rgb(161, 161, 161); */
}

.sourceCode {
  flex: 18;
  padding-top: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
