.sourceCodeBody  {
  margin-top: 50px;
  margin: 0px 20px 0 20px;
  padding-left: 0px;
  white-space: pre;
  background: lightgreen;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
}

.tabHeader {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 15px 0px 15px;
  border-bottom: 1px solid white;
}

.active {
	color:red !important;
}

.tabExitButton {
  margin-left: 6px;
  padding: 0 4px;
  background-color: lightgray;
  border-radius: 10px;
  height: 15px;
  width: 15px;
  font-size: 10px;
  text-align: center;
  justify-self: center;
}

/* refactor using classNames!!! */
.sourceCodeGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 280px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  margin-left: 15px;
}

.sourceCodeGrid-1 {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  margin-left: 15px;
}

.sourceCodeGrid-2 {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: 280px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  margin-left: 15px;
}

.gridContainer {
  overflow: auto;
  position: relative;
  max-height: 250px;
  margin-right: 15px;
  background: rgb(245, 245, 245);
  margin-bottom: 15px;
}
