.element {
  /* box-shadow: inset 0px 2px 5px rgb(226, 226, 226); */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  background-color: #ededed;
  padding-left: 15px;
  padding-top: 0px;
  margin: 0px 15px;
  margin-top: -10px;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  border-left: 1px solid #aaa;
}

.gridElementHeader button {
  background: none;
  border: none;
}

.tabHeader {
  font-weight: bold;
  font-size: 13px;
  margin: 0px 15px;
}

.react-tabs__tab {
  background: white;
  border-color: #aaa;
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
  background: #ededed;
  margin-bottom: 0px;
}

.react-tabs__tab-panel {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.tabExitIcon {
  margin: 0px 0px 0px 20px;
  height: 18px;
  width: 18px;
}

.tabExitButton {
  border: none;
  background: none;
  padding: none;
  margin-right: -9px;
}

.tabExitButton:hover {
  cursor: pointer;
}
