.CallPath {
  padding: 0px 3px 3px 3px;
  margin: 6px 10px 10px 10px;
  background: rgb(233, 233, 233);
}

.callpath-header {
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

.loggingPointsContainer {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 8px;
  padding: 0;
}

