.CodeLine {
  color: lightslategray;
  line-height: 8.5px;
  white-space: pre;
}

.lineFormatting {
  padding-right: 10px;
  white-space: pre;
}

.highlight {
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgb(250, 250, 183);
}

.targetLine {
  padding-top: 3px;
  padding-bottom: 3px;
  background: yellow;
}