.sourceCode  {
  /* margin-top: 50px; */
  padding-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  white-space: pre;
}

.CodeLine {
  color: lightslategray;
  line-height: 10px;
  white-space: pre;
}

.lineFormatting {
  padding-right: 30px;
  white-space: pre;
}

.highlight {
  background: yellow;
}

.targetLine {
  background: aqua;
}