.LoggingPoint {
  border-top: 1px solid #999;
  background-color: white;
  margin: 0;
  padding: 8px 5px;
  line-height: 8px;
  font-size: 11px;
  cursor: pointer;
  display: block;
}

.LoggingPoint:hover {
  background: rgb(233, 233, 233);
}

.LoggingPoint--active {
  font-weight: bold;
  color: red;
}

.fileName {
  margin-right: 15px;
}
