.navigation {
  display: flex;
  list-style: none;
  background: rgb(144, 144, 153);
  color: white;
  position: fixed;
  width: 100%;
  height: 30px;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid rgb(144, 144, 153);
  box-shadow: 0 2px 3px rgb(91, 91, 97); 
  z-index: 3;
  overflow-y: auto;
  justify-content: space-between;
}

.title {
  justify-self: center;
  padding-left: 10px;
}

label {
  margin-left: 200px;
  padding-right: 20px;
  font-size: 16px;
}

.inputDropdown {
  color: black;
  font-size: 15px;
  background: white;
  border: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
  overflow-y: auto;
  z-index: 4;
  position: fixed;
}

.inputDropdown input {
  font-size: 15px;
  border: none;
  padding: 5px 5px;
  box-sizing: border-box;
  outline: none;
  margin: 0;
}

.inputDropdown ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid gray;
  text-align: left;
  list-style-type: none;
}

.inputDropdown ul::before {
  content: "";
}

.inputDropdown li {
  padding: 5px 5px;
}

.inputDropdown li:hover {
  background: rgb(222, 240, 202);
}