.rawLogLine:hover {
  background: lightgray;
}

.rawLogLine {
  background: rgb(241, 241, 241);
  border-bottom: 1px solid rgb(192, 192, 192);
  border-left: 1px solid rgb(192, 192, 192);
  border-right: 1px solid rgb(192, 192, 192);
  font-size: 0.7em;
  padding: 0;
  margin: 0;
}

.rawLogLine--checked {
  background: lightgray;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgb(192, 192, 192);
  border-left: 1px solid rgb(192, 192, 192);
  border-right: 1px solid rgb(192, 192, 192);
  font-size: 0.7em;
  padding: 0;
  margin: 0;
}

.rawLogContainer h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(192, 192, 192);
  margin: 25px 0 0 0;
}

.logLineWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox--input {
  display: none;
}

.checkbox--input + span {
  color: red;
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  background: #00CECC;
  align-items: center;
  justify-content: center;
  color: white;
  border: 12.5px solid #00CECC;
  box-sizing: border-box;
  transition: all 150ms;
  margin: 0px 15px;
}
.checkbox--input:checked + span {
  width: 25px; 
  height: 25px;
}
.checkbox--input:checked + span::before {
  content: 'check';
  font-family: 'Material Icons';
  font-size: 20px;
  background: #00CECC;
  color: black;
}
.checkbox--input:disabled + span {
  background: rgba(0, 0, 0, 0.35);
}

.logText {
  margin-left: 10px;
  padding-top: 0px;
  font-size: 0.88em;
  margin: 0;
}

.numberIcon circle {
  fill: blue;
}