.gridElementHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: rgb(128, 128, 139);
  color: white;
  margin: 0 15px 0 0;
  padding: 0 1px 0 7px;
}

.gridElementHeader h4 {
  padding: 5px 0;
  margin: 0;
}

.exitButton {
  height: 22px;
  width: 22px;
  padding-right: none;
  margin-right: none;
  align-self: center;
}