.sourceCodeBody  {
  /* margin-top: 50px; */
  margin: 20px 20px 0 20px;
  padding-left: 0px;
  height: 300px;
  /* border: 1px solid lightslategray; */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  white-space: pre;
  overflow: auto;
}
